<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map test</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

</head>
<body>

<h1>Map test</h1>
<hr>
<form id="logForm" th:action="@{/api/parser}" method="POST">
    <textarea placeholder="Log" name="log"></textarea>
    <button type="submit" id="refresh">Submit</button>
</form>
<hr>
<div id="map" style="height: 1000px"></div>



<script src="./js/map.js"></script>
<script src="/js/utils.js"></script>

<script>
    document.getElementById('logForm').addEventListener('submit', function(e) {
        e.preventDefault(); // Impede o envio normal do formulário

        // Captura os dados do formulário
        var formData = new FormData(this);

        // Envia os dados do formulário usando a API Fetch
        fetch(this.action, {
            method: 'POST',
            body: formData
        }).then(response => {
            if(response.ok) {
                return response.json();
            }
            throw new Error('Request failed.');
        }).then(data => {
            console.log(data)
            data.forEach(item => {
                console.log(item.x);
                console.log(item.z);
                let marker = L.marker(converterCoordenadas(item.x, item.z)).addTo(map);
                marker.bindPopup(item.information).openPopup();
            });
        }).catch(error => {
            console.error(error);
        });
    });
</script>
</body>
</html>